/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
$osFont: 'Century Gothic', 'Lato', sans-serif;
$osBlue: rgb(122,159,171);
$osBlue1: rgb(82,117,128);
$osBlue2: rgb(80,146,167);
$osBlue3: rgb(136,197,216);

$osGrey: rgb(236,236,236);
$osLightGrey: rgb(242,242,242);

@mixin translateElement($x, $y){
	transform:translate($x, $y);
	-webkit-transform:translate($x, $y);
	-moz-transform:translate($x, $y);
	-o-transform:translate($x, $y);
}

@mixin transitionElement($e, $s){
	transition: $e $s;
	-webkit-transition: $e $s;
	-moz-transition: $e $s;
	-o-transition: $e $s;
}

$footerHeight: 30px;
$headerHeight: 48px;

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family:$osFont;
    background-color: $osGrey;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    
    font-size:12px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
}
h2{
	font-size: 18px;
	margin:0;
	font-weight: normal;
}
ul{
	padding: 0;
	li{
		list-style-type: none;
	}
}
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

*{
	box-sizing: border-box;
}

#app_body{
	padding: $headerHeight 0 $footerHeight;
	height:100%;
	width: 100%;
	position: relative;
}
.bg_centered{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.bottom_gradient{
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	z-index: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,000000+0,000000+47,000000+100&0+-1,0+11,0.3+45,1+99 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) -1%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 11%, rgba(0,0,0,0.3) 45%, rgba(0,0,0,0.33) 47%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) -1%,rgba(0,0,0,0) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0.3) 45%,rgba(0,0,0,0.33) 47%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) -1%,rgba(0,0,0,0) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0.3) 45%,rgba(0,0,0,0.33) 47%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.back_button{
	width: 30px;
	height:30px;
	background-color: black;
	position: absolute;
	top:60px;
	left:20px;
	z-index: 2;
}

/*------------------------------*\
	HEADER
\*------------------------------*/

header#header{
	width: 100%;
	height:48px;
	position: fixed;
	top:0;
	left:0;
	background-color: $osBlue;
	#logo_container{
		width: 100%;
		height:calc(100% - 17px);
		position: absolute;
		top:17px;
		left:0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#header_content{
		width: 100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		align-items: center;
		padding: 0 10px;
	}
}
#header_logo{
	width: 100px;
	height:auto;
}

.text_box{
	font-size: 15px;
	font-weight: 200;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	p{
		margin:0;
		padding-bottom: 18px;
		line-height: 1.5em;
	}
}

/*------------------------------*\
	ONBOARDING SCREEN
\*------------------------------*/

#onboarding_screen{
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	background-color: white;
	@include translateElement(100%, 0);
	&.active{
		@include translateElement(0, 0);
	}
}
#login_screen, #register_screen{
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
#setup_user{
	padding: calc(5vw + #{$headerHeight}) 5vw 5vw;
	@include translateElement(100%, 0);
	&.active{
		@include translateElement(0, 0);
	}
	#register_user_image_container{
		width: 120px;
		height:120px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 40px auto;
		position: relative;
		p{
			position: relative;
		}
		#register_user_image{
			position: absolute;
			width: 100%;
			height:100%;
			top:0;
			left:0;
			border-radius: 50%;
			background-color: grey;
		}
	}
	#genre_select_list{
		ul{
			li{
				&.active{
					background-color: lightblue;
				}
			}
		}
	}
}

/*------------------------------*\
	HOME SCREEN
\*------------------------------*/

#home_screen{
	width: 100%;
	height:100%;
	@include transitionElement(all, .4s);
	&.left{
		@include translateElement(-30%, 0);
	}
	&.right{
		@include translateElement(30%, 0);
	}
	#map_canvas{
		width: 100%;
		height:40%;
	}
	#my_stories_lists{
	    height:100%;
	    overflow: scroll;
	    padding-top: 10px;
	    .story_list_header{
		    margin: 9px 0 13px;
		    padding:2px 0;
		    h2{
			    font-size: 17px;
			    text-transform: uppercase;
			    padding-left: 5vw;
			    color: white;
		    }
		    &#list_iwrote{
			    background-color: $osBlue1;
		    }
		    &#list_icontributed{
			    background-color: $osBlue2;
		    }
		    &#list_daily{
			    background-color: $osBlue3;
		    }
	    }
	}
}

ul.story_list{
    white-space: nowrap;
    overflow: auto;
    padding: 0 12px;
    margin:0;
    &::-webkit-scrollbar { 
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        display: none !important;
    }
    li{
	    display: inline-block;
	    width: 65vw;
	    margin: 0 12px 0 0;
	    position: relative;
	    .story_list_item_container{
		    width: 100%;
		    height:0;
		    padding-bottom:56.25%;
		    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
		    .story_list_item_content{
			    position: absolute;
			    width:100%;
			    height:100%;
			    top:0;
			    left:0;
			    padding-bottom:10px;
		    }
	    }
	    &:last-child{
		    margin-right: 0;
	    }
	    .story_background{
		    position: absolute;
		    width: 100%;
		    height:100%;
		    top:0;
		    left:0;
	    }
	    .story_list_info{
		    position: absolute;
		    bottom:0;
		    left:0;
		    width: 100%;
		    padding: 10px 15px;
		    color: white;
		    h3{
			    margin-bottom:3px;
			    position: relative;
			    font-weight: 200;
			    font-size: 16px;
		    }
		    p{
			    margin:0;
			    position: relative;
		    }
	    }
	    &.call_to_action .story_list_item_content{
		    background-color: $osLightGrey;
		    display: flex;
		    justify-content: center;
		    align-items: center;
	    }
	    &.full_width_story{
		    width: 100%;
		    .story_list_info{
			    padding-right:75px;
		    }
	    }
    }
}

.overlay_view{
	width: 100%;
	height:100%;
	position: absolute;
	background-color: $osLightGrey;
	top:0;
	right:0;
	bottom:0;
	left:0;
	@include transitionElement(all, .4s);
}

#story_container{	
	@include translateElement(100%, 0);
	&.active{
		@include translateElement(0, 0);
	}
	#story_container_content{
		width: 100%;
		height:100%;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: auto;
		padding: $headerHeight 0 $footerHeight 0;
		#chapter_list{
			height:100%;
		}
		#my_story_header{
			width: 100%;
			position: relative;
		}
		#chapter_list{
			padding:5vw;
			height:auto;
		}
		#my_stories_map{
			height:calc(100% - #{$headerHeight} - #{$footerHeight} - 56.25vw);
			width: 100%;
			position: absolute;
			bottom: $footerHeight;
		}
	}
}

.story_header_content{
	width: 100%;
	height:0;
	padding-bottom:56.25%;
}
#story_header_image{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
}
.story_header_info{
	position: absolute;
	width: 100%;
	height:auto;
	padding: 30px 5vw 20px;
	color: white;
	bottom:0;
	left:0;
	text-align: left;
	h1, h2{
		position: relative;
	}
	#story_header_genre{
		margin: 5px 0 0 0;
		color: black;
		font-size: 14px;
		font-weight: 200;
	}
}
.editable{
	-webkit-user-select: text;
	user-select: text;
	&:empty:before {
	  	content: attr(placeholder);
	  	display: block; /* For Firefox */
	}
}
#story_header{
	width: 100%;
	position: relative;
	&.editable{
		.story_header_placeholder{
			position: absolute;
			width: 100%;
			height:100%;
			top:0;
			left:0;
			background-color: $osLightGrey;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		h1, h2{
			color: black;
			&:focus{
				outline: none;
			}
		}
	}
}
.author_image{
	position: absolute;
	right:10px;
	bottom:10px;
	min-width: 55px;
	height:55px;
	border-radius: 50%;
}

/*------------------------------*\
	DAILY STORY SCREEN
\*------------------------------*/

#daily_stories_view{	
	padding: $headerHeight 0 $footerHeight;
	@include translateElement(100%, 0);
	&.active{
		@include translateElement(0, 0);
	}
	#daily_story{
		padding: 0 5vw;
	}
}

/*------------------------------*\
	START STORY SCREEN
\*------------------------------*/

#start_story_view{
	width: 100%;
	height:100%;
	position: absolute;
	background-color: white;
	top:0;
	right:0;
	bottom:0;
	left:0;
	@include transitionElement(all, .4s);
	@include translateElement(0, 100%);
	padding-bottom:$footerHeight;
	&.active{
		@include translateElement(0, 0);
	}
	#start_story_screen{
		width: 100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
		padding-top:$headerHeight;
		overflow: auto;
		@include transitionElement(all, .4s);
		&.hidden{
			@include translateElement(-100%, 0);
		}
		#start_story_content{
			width: 100%;
			height:100%;
			display: flex;
			flex-direction: column;
			padding:5vw 5vw calc(5vw + #{$footerHeight});
			input{
				width: 100%;
			}
			#story_text_input{
				height:100%;
				width: 100%;
			}
		}
		#choose_genre_button{
			-webkit-appearance: none;
			-moz-appearance: none;
			background-color: transparent;
			padding:0;
			border: none;
			font-size: 15px;
			margin-top:5px;
		}
	}
	#story_genres_screen{
		width: 100%;
		height:100%;
		top:0;
		left:0;
		position: absolute;
		background-color: white;
		@include transitionElement(all, .4s);
		@include translateElement(100%, 0);
		&.active{
			@include translateElement(0, 0);
		}
		#story_genres_content{
			width: 100%;
			height:100%;
		}
	}
	#place_locations_map{
		width: 100%;
		height:100%;
		top:0;
		left:0;
		position: absolute;
		background-color: white;
		@include transitionElement(all, .4s);
		@include translateElement(100%, 0);
		&.active{
			@include translateElement(0, 0);
		}
		#place_locations_map_content{
			width: 100%;
			height:100%;
		}
		#locations_map{
			width: 100%;
			height:100%;
		}
		#submit_story{
			width: 100%;
			position: absolute;
			bottom:30px;
			left:0;
			right:0;
		}
	}
}

/*------------------------------*\
	NEARBY STORIES SCREEN
\*------------------------------*/

#nearby_stories_view{
	@include translateElement(-100%, 0);
	padding: $headerHeight 0 $footerHeight 0;
	&.active{
		@include translateElement(0, 0);
	}
	#nearby_stories_map{
		width: 100%;
		height:56.25vw;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}
	#nearby_stories_list{
		width: 100%;
		height:calc(100% - 56.25vw);
		overflow: scroll;
		padding-bottom:10px;
		li{
			margin-top:15px;
			display: block;
		}
	}
}
#nearby_container{
	@include translateElement(-100%, 0);
	padding: $headerHeight 0 $footerHeight 0;
	overflow: auto;
	&.active{
		@include translateElement(0, 0);
	}
	#nearby_container_content{
		height:auto;
		padding:5vw;
		padding-bottom:15px;
		#add_chapter_form{
			width: 100%;
			height:calc(100vh - 5vw - #{$footerHeight});
			display: flex;
			flex-direction: column;
			input{
				width: 100%;
			}
			textarea{
				width: 100%;
				height:100%;
			}
		}
	}
}

/*------------------------------*\
	DAILY STORY SCREEN
\*------------------------------*/

.daily_text{
	-webkit-user-select: text;
    user-select: text;
    background-image:url('img/line.png');
    background-repeat: repeat-y;
    background-size: 100% 1px;
}

/*------------------------------*\
	EDIT PROFILE SCREEN
\*------------------------------*/

#edit_profile_view{
	@include translateElement(100%, 0);
	padding-bottom:$footerHeight;
	&.active{
		@include translateElement(0, 0);
	}
	#edit_profile_content{
		width: 100%;
		height:100%;
		padding: 5vw;
	}
}

#footer_menu{
	width: 100%;
	height: $footerHeight;
	background-color: $osBlue;
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	@include transitionElement(all, .2s);
	&.hidden{
		@include translateElement(0, calc(100% + 15px));
	}
	.footer_menu_section{
		width: 50%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	#start_story_button{
		min-width: 50px;
		height:50px;
		border-radius: 50%;
		background-color: $osBlue;
		margin-top:-12px;
		display: flex;
		justify-content: center;
		align-items: center;
		svg{
			top:-3px;
			position: relative
		}
	}
	.menu_button{
		color: white;
		font-size: 15px;
	}
}
