/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* line 46, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

/* line 49, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Century Gothic", "Lato", sans-serif;
  background-color: #ececec; }

/* line 57, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-size: 12px;
  width: 100%; }

/* Portrait layout (default) */
/* line 68, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.app {
  background: url(../img/logo.png) no-repeat center top;
  /* 170px x 200px */
  position: absolute;
  /* position in the center of the screen */
  left: 50%;
  top: 50%;
  height: 50px;
  /* text area height */
  width: 225px;
  /* text area width */
  text-align: center;
  padding: 180px 0px 0px 0px;
  /* image height is 200px (bottom 20px are overlapped with text) */
  margin: -115px 0px 0px -112px;
  /* offset vertical: half of image height and text area height */
  /* offset horizontal: half of text area width */ }

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  /* line 83, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */ } }

/* line 91, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px; }

/* line 98, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
h2 {
  font-size: 18px;
  margin: 0;
  font-weight: normal; }

/* line 103, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
ul {
  padding: 0; }
  /* line 105, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  ul li {
    list-style-type: none; }

/* line 109, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px; }

/* line 118, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.event.listening {
  background-color: #333333;
  display: block; }

/* line 123, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.event.received {
  background-color: #4B946A;
  display: none; }

@keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }

@-webkit-keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }

/* line 140, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite; }

/* line 145, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
* {
  box-sizing: border-box; }

/* line 149, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#app_body {
  padding: 48px 0 30px;
  height: 100%;
  width: 100%;
  position: relative; }

/* line 155, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.bg_centered {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

/* line 160, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.bottom_gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,000000+0,000000+47,000000+100&0+-1,0+11,0.3+45,1+99 */
  background: -moz-linear-gradient(top, transparent -1%, transparent 0%, transparent 11%, rgba(0, 0, 0, 0.3) 45%, rgba(0, 0, 0, 0.33) 47%, black 99%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent -1%, transparent 0%, transparent 11%, rgba(0, 0, 0, 0.3) 45%, rgba(0, 0, 0, 0.33) 47%, black 99%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent -1%, transparent 0%, transparent 11%, rgba(0, 0, 0, 0.3) 45%, rgba(0, 0, 0, 0.33) 47%, black 99%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

/* line 173, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.back_button {
  width: 30px;
  height: 30px;
  background-color: black;
  position: absolute;
  top: 60px;
  left: 20px;
  z-index: 2; }

/*------------------------------*	HEADER
\*------------------------------*/
/* line 187, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
header#header {
  width: 100%;
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #7a9fab; }
  /* line 194, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  header#header #logo_container {
    width: 100%;
    height: calc(100% - 17px);
    position: absolute;
    top: 17px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  /* line 204, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  header#header #header_content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 10px; }

/* line 217, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#header_logo {
  width: 100px;
  height: auto; }

/* line 222, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.text_box {
  font-size: 15px;
  font-weight: 200;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 228, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  .text_box p {
    margin: 0;
    padding-bottom: 18px;
    line-height: 1.5em; }

/*------------------------------*	ONBOARDING SCREEN
\*------------------------------*/
/* line 239, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#onboarding_screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0); }
  /* line 247, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #onboarding_screen.active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0); }

/* line 251, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#login_screen, #register_screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

/* line 263, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#setup_user {
  padding: calc(5vw + 48px) 5vw 5vw;
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0); }
  /* line 266, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #setup_user.active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0); }
  /* line 269, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #setup_user #register_user_image_container {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    position: relative; }
    /* line 277, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #setup_user #register_user_image_container p {
      position: relative; }
    /* line 280, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #setup_user #register_user_image_container #register_user_image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: grey; }
  /* line 293, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #setup_user #genre_select_list ul li.active {
    background-color: lightblue; }

/*------------------------------*	HOME SCREEN
\*------------------------------*/
/* line 305, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#home_screen {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s; }
  /* line 309, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #home_screen.left {
    transform: translate(-30%, 0);
    -webkit-transform: translate(-30%, 0);
    -moz-transform: translate(-30%, 0);
    -o-transform: translate(-30%, 0); }
  /* line 312, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #home_screen.right {
    transform: translate(30%, 0);
    -webkit-transform: translate(30%, 0);
    -moz-transform: translate(30%, 0);
    -o-transform: translate(30%, 0); }
  /* line 315, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #home_screen #map_canvas {
    width: 100%;
    height: 40%; }
  /* line 319, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #home_screen #my_stories_lists {
    height: 100%;
    overflow: scroll;
    padding-top: 10px; }
    /* line 323, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #home_screen #my_stories_lists .story_list_header {
      margin: 9px 0 13px;
      padding: 2px 0; }
      /* line 326, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
      #home_screen #my_stories_lists .story_list_header h2 {
        font-size: 17px;
        text-transform: uppercase;
        padding-left: 5vw;
        color: white; }
      /* line 332, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
      #home_screen #my_stories_lists .story_list_header#list_iwrote {
        background-color: #527580; }
      /* line 335, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
      #home_screen #my_stories_lists .story_list_header#list_icontributed {
        background-color: #5092a7; }
      /* line 338, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
      #home_screen #my_stories_lists .story_list_header#list_daily {
        background-color: #88c5d8; }

/* line 345, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
ul.story_list {
  white-space: nowrap;
  overflow: auto;
  padding: 0 12px;
  margin: 0; }
  /* line 350, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  ul.story_list::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    background-color: transparent; }
  /* line 357, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  ul.story_list::-webkit-scrollbar-thumb {
    display: none !important; }
  /* line 360, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  ul.story_list li {
    display: inline-block;
    width: 65vw;
    margin: 0 12px 0 0;
    position: relative; }
    /* line 365, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    ul.story_list li .story_list_item_container {
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); }
      /* line 370, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
      ul.story_list li .story_list_item_container .story_list_item_content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding-bottom: 10px; }
    /* line 379, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    ul.story_list li:last-child {
      margin-right: 0; }
    /* line 382, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    ul.story_list li .story_background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    /* line 389, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    ul.story_list li .story_list_info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px 15px;
      color: white; }
      /* line 396, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
      ul.story_list li .story_list_info h3 {
        margin-bottom: 3px;
        position: relative;
        font-weight: 200;
        font-size: 16px; }
      /* line 402, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
      ul.story_list li .story_list_info p {
        margin: 0;
        position: relative; }
    /* line 407, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    ul.story_list li.call_to_action .story_list_item_content {
      background-color: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center; }
    /* line 413, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    ul.story_list li.full_width_story {
      width: 100%; }
      /* line 415, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
      ul.story_list li.full_width_story .story_list_info {
        padding-right: 75px; }

/* line 422, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.overlay_view {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f2f2f2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s; }

/* line 434, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#story_container {
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0); }
  /* line 436, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #story_container.active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0); }
  /* line 439, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #story_container #story_container_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    padding: 48px 0 30px 0; }
    /* line 447, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #story_container #story_container_content #chapter_list {
      height: 100%; }
    /* line 450, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #story_container #story_container_content #my_story_header {
      width: 100%;
      position: relative; }
    /* line 454, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #story_container #story_container_content #chapter_list {
      padding: 5vw;
      height: auto; }
    /* line 458, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #story_container #story_container_content #my_stories_map {
      height: calc(100% - 48px - 30px - 56.25vw);
      width: 100%;
      position: absolute;
      bottom: 30px; }

/* line 467, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.story_header_content {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }

/* line 472, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#story_header_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 479, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.story_header_info {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 30px 5vw 20px;
  color: white;
  bottom: 0;
  left: 0;
  text-align: left; }
  /* line 488, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  .story_header_info h1, .story_header_info h2 {
    position: relative; }
  /* line 491, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  .story_header_info #story_header_genre {
    margin: 5px 0 0 0;
    color: black;
    font-size: 14px;
    font-weight: 200; }

/* line 498, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.editable {
  -webkit-user-select: text;
  user-select: text; }
  /* line 501, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  .editable:empty:before {
    content: attr(placeholder);
    display: block;
    /* For Firefox */ }

/* line 506, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#story_header {
  width: 100%;
  position: relative; }
  /* line 510, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #story_header.editable .story_header_placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center; }
  /* line 521, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #story_header.editable h1, #story_header.editable h2 {
    color: black; }
    /* line 523, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #story_header.editable h1:focus, #story_header.editable h2:focus {
      outline: none; }

/* line 529, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.author_image {
  position: absolute;
  right: 10px;
  bottom: 10px;
  min-width: 55px;
  height: 55px;
  border-radius: 50%; }

/*------------------------------*	DAILY STORY SCREEN
\*------------------------------*/
/* line 542, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#daily_stories_view {
  padding: 48px 0 30px;
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0); }
  /* line 545, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #daily_stories_view.active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0); }
  /* line 548, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #daily_stories_view #daily_story {
    padding: 0 5vw; }

/*------------------------------*	START STORY SCREEN
\*------------------------------*/
/* line 557, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#start_story_view {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  padding-bottom: 30px; }
  /* line 569, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #start_story_view.active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0); }
  /* line 572, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #start_story_view #start_story_screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 48px;
    overflow: auto;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s; }
    /* line 581, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #start_story_view #start_story_screen.hidden {
      transform: translate(-100%, 0);
      -webkit-transform: translate(-100%, 0);
      -moz-transform: translate(-100%, 0);
      -o-transform: translate(-100%, 0); }
    /* line 584, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #start_story_view #start_story_screen #start_story_content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 5vw 5vw calc(5vw + 30px); }
      /* line 590, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
      #start_story_view #start_story_screen #start_story_content input {
        width: 100%; }
      /* line 593, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
      #start_story_view #start_story_screen #start_story_content #story_text_input {
        height: 100%;
        width: 100%; }
    /* line 598, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #start_story_view #start_story_screen #choose_genre_button {
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: transparent;
      padding: 0;
      border: none;
      font-size: 15px;
      margin-top: 5px; }
  /* line 608, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #start_story_view #story_genres_screen {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0); }
    /* line 617, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #start_story_view #story_genres_screen.active {
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0); }
    /* line 620, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #start_story_view #story_genres_screen #story_genres_content {
      width: 100%;
      height: 100%; }
  /* line 625, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #start_story_view #place_locations_map {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0); }
    /* line 634, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #start_story_view #place_locations_map.active {
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0); }
    /* line 637, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #start_story_view #place_locations_map #place_locations_map_content {
      width: 100%;
      height: 100%; }
    /* line 641, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #start_story_view #place_locations_map #locations_map {
      width: 100%;
      height: 100%; }
    /* line 645, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #start_story_view #place_locations_map #submit_story {
      width: 100%;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0; }

/*------------------------------*	NEARBY STORIES SCREEN
\*------------------------------*/
/* line 659, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#nearby_stories_view {
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  padding: 48px 0 30px 0; }
  /* line 662, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #nearby_stories_view.active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0); }
  /* line 665, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #nearby_stories_view #nearby_stories_map {
    width: 100%;
    height: 56.25vw;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  /* line 671, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #nearby_stories_view #nearby_stories_list {
    width: 100%;
    height: calc(100% - 56.25vw);
    overflow: scroll;
    padding-bottom: 10px; }
    /* line 676, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #nearby_stories_view #nearby_stories_list li {
      margin-top: 15px;
      display: block; }

/* line 682, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#nearby_container {
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  padding: 48px 0 30px 0;
  overflow: auto; }
  /* line 686, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #nearby_container.active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0); }
  /* line 689, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #nearby_container #nearby_container_content {
    height: auto;
    padding: 5vw;
    padding-bottom: 15px; }
    /* line 693, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #nearby_container #nearby_container_content #add_chapter_form {
      width: 100%;
      height: calc(100vh - 5vw - 30px);
      display: flex;
      flex-direction: column; }
      /* line 698, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
      #nearby_container #nearby_container_content #add_chapter_form input {
        width: 100%; }
      /* line 701, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
      #nearby_container #nearby_container_content #add_chapter_form textarea {
        width: 100%;
        height: 100%; }

/*------------------------------*	DAILY STORY SCREEN
\*------------------------------*/
/* line 713, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
.daily_text {
  -webkit-user-select: text;
  user-select: text;
  background-image: url("img/line.png");
  background-repeat: repeat-y;
  background-size: 100% 1px; }

/*------------------------------*	EDIT PROFILE SCREEN
\*------------------------------*/
/* line 725, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#edit_profile_view {
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  padding-bottom: 30px; }
  /* line 728, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #edit_profile_view.active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0); }
  /* line 731, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #edit_profile_view #edit_profile_content {
    width: 100%;
    height: 100%;
    padding: 5vw; }

/* line 738, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
#footer_menu {
  width: 100%;
  height: 30px;
  background-color: #7a9fab;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s; }
  /* line 749, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #footer_menu.hidden {
    transform: translate(0, calc(100% + 15px));
    -webkit-transform: translate(0, calc(100% + 15px));
    -moz-transform: translate(0, calc(100% + 15px));
    -o-transform: translate(0, calc(100% + 15px)); }
  /* line 752, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #footer_menu .footer_menu_section {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  /* line 758, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #footer_menu #start_story_button {
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7a9fab;
    margin-top: -12px;
    display: flex;
    justify-content: center;
    align-items: center; }
    /* line 767, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
    #footer_menu #start_story_button svg {
      top: -3px;
      position: relative; }
  /* line 772, /Volumes/Macintosh HD/Users/brandon/Desktop/00sites/openstory/www/css/styles.scss */
  #footer_menu .menu_button {
    color: white;
    font-size: 15px; }
